.option_list {
  width: 100%;
}
.option_list ul {
  margin: 15px;
  padding: 0;
  height: 1300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.option_list li {
  color: #bdc1c6;
  font-size: 14px;
  padding: 8px;
  list-style-type: none;
}
.list_item:hover {
  background-color: #5a5a5d;
  border-radius: 4px;
  cursor: pointer;
}
.search_bar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 0px 10px 0px;
}
.search_bar input {
  color: #bdc1c6;
  background: url(https://www.gstatic.com/images/icons/material/system/2x/search_grey600_24dp.png)
    right 8px center no-repeat;
  background-size: 24px 24px;
  padding-left: 16px;
  padding-right: 40px;
  width: 98% !important;
  outline: none;
}

.search_bar .close_button svg {
  width: 30px;
  height: 30px;
  padding: 6px 0px 6px 6px;
  fill: #5a5a5d;
  cursor: pointer;
}

.option_container {
  height: 250px;
  overflow: auto;
}

.list_item {
  display: flex;
}
.list_item .icon {
  padding: 5px;
  width: 2px;
  color: #8ab4f8;
}
